apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: aws-for-fluent-bit
  namespace: kube-system
  labels:
    k8s-app: aws-for-fluent-bit
spec:
  selector:
    matchLabels:
      k8s-app: aws-for-fluent-bit
  template:
    metadata:
      labels:
        k8s-app: aws-for-fluent-bit
    spec:
      serviceAccountName: aws-for-fluent-bit
      terminationGracePeriodSeconds: 10
      tolerations:
        - operator: Exists
      containers:
        - name: aws-for-fluent-bit
          image: public.ecr.aws/aws-observability/aws-for-fluent-bit:2.32.5
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 2020
          env:
            - name: AWS_REGION
              value: us-east-1
            - name: CLUSTER_NAME
              value: cl-01
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
            limits:
              memory: 200Mi
          volumeMounts:
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
            - name: config
              mountPath: /fluent-bit/etc/
            - name: state
              mountPath: /var/fluent-bit/state
      volumes:
        - name: varlog
          hostPath:
            path: /var/log
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
        - name: config
          configMap:
            name: aws-for-fluent-bit
        - name: state
          hostPath:
            path: /var/fluent-bit-state
            type: DirectoryOrCreate
