apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: introspect
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "order-service"
        dapr.io/app-port: "8000"
        dapr.io/app-protocol: "http"
    spec:
      serviceAccountName: order-service-sa
      containers:
        - name: order-service
          image: order-service:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: PUBSUB_NAME
              value: redis-pubsub
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: introspect
  labels:
    app: order-service
spec:
  selector:
    app: order-service
  ports:
    - name: http
      port: 8000
      targetPort: 8000
  type: ClusterIP
